USE [master]
GO
/****** Object:  Database [QLHV]    Script Date: 23/04/2025 10:32:12 CH ******/
CREATE DATABASE [QLHV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHV', FILENAME = N'D:\DOWNLOAD\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLHV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHV_log', FILENAME = N'D:\DOWNLOAD\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QLHV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHV]
GO
/****** Object:  Table [dbo].[Danhsach]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danhsach](
	[MaDS] [char](10) NOT NULL,
	[TenDS] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Danhsach] PRIMARY KEY CLUSTERED 
(
	[MaDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSLop]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSLop](
	[MaDS] [char](10) NOT NULL,
	[Malop] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giaovien]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giaovien](
	[MaGV] [char](10) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[SDT] [char](20) NOT NULL,
	[Trinhdo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Giaovien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hocvien]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hocvien](
	[MaHV] [char](10) NOT NULL,
	[TenHV] [nvarchar](50) NOT NULL,
	[Namsinh] [datetime] NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[SDT] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hocvien] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ketqua]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ketqua](
	[MaHV] [char](10) NOT NULL,
	[Malop] [char](10) NOT NULL,
	[DiemThi] [float] NOT NULL,
	[DanhgiaCC] [nvarchar](10) NOT NULL,
	[XepLoai] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoahoc]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoahoc](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](20) NOT NULL,
	[Ngaybatdau] [date] NOT NULL,
	[Ngayketthuc] [date] NOT NULL,
	[Hocphi] [money] NOT NULL,
 CONSTRAINT [PK_Khoahoc] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Malop] [char](10) NOT NULL,
	[Tenlop] [nvarchar](20) NOT NULL,
	[Siso] [int] NOT NULL,
	[MaGV] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 23/04/2025 10:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[MaTk] [char](10) NOT NULL,
	[Matkhau] [char](10) NOT NULL,
	[TrangthaiTK] [nvarchar](50) NOT NULL,
	[MaHV] [char](10) NOT NULL,
 CONSTRAINT [PK_Taikhoan] PRIMARY KEY CLUSTERED 
(
	[MaTk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DSLop]  WITH CHECK ADD  CONSTRAINT [FK_DSLop_Danhsach] FOREIGN KEY([MaDS])
REFERENCES [dbo].[Danhsach] ([MaDS])
GO
ALTER TABLE [dbo].[DSLop] CHECK CONSTRAINT [FK_DSLop_Danhsach]
GO
ALTER TABLE [dbo].[DSLop]  WITH CHECK ADD  CONSTRAINT [FK_DSLop_Lop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[DSLop] CHECK CONSTRAINT [FK_DSLop_Lop]
GO
ALTER TABLE [dbo].[Ketqua]  WITH CHECK ADD  CONSTRAINT [FK_Ketqua_Hocvien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[Hocvien] ([MaHV])
GO
ALTER TABLE [dbo].[Ketqua] CHECK CONSTRAINT [FK_Ketqua_Hocvien]
GO
ALTER TABLE [dbo].[Ketqua]  WITH CHECK ADD  CONSTRAINT [FK_Ketqua_Lop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[Ketqua] CHECK CONSTRAINT [FK_Ketqua_Lop]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Giaovien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[Giaovien] ([MaGV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Giaovien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoahoc] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khoahoc] ([MaKH])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoahoc]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Lop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Lop]
GO
ALTER TABLE [dbo].[Taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_Taikhoan_Hocvien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[Hocvien] ([MaHV])
GO
ALTER TABLE [dbo].[Taikhoan] CHECK CONSTRAINT [FK_Taikhoan_Hocvien]
GO
USE [master]
GO
